:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 10em;
}
#root {
  width: 100%;
}

main {
height: 900px;
}

a {
  text-decoration: inherit;
}

header {
  padding: 10px 5em;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4em;
  background-color: rgb(69, 58, 58);
  margin-bottom: 40px;
  justify-content: space-between;
}

header nav {
  display: flex;
  gap: 1em;
  font-weight: 600;
  font-size: 1.2em;
  justify-content: ;
}

header nav a {
  color: #000;
}
.titulo {
  text-align: center; 
  font-family: Arial Black; 
  font-weight: bold; font-size: 60px; 
  background: #202020; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
  }

.item-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20;
  justify-content: center;
}

.item-list-container h2 {
  text-transform: capitalize;
}
